<div class="col-md-3 col-xs-6">
  <div class="season season-<%= season.id %>">
    <a href="<%= season_path(season.id) %>">
      <img class="img-responsive" src="/uploads/<%= season.poster %>" alt="">
    </a>
    <div class="caption">
      <h4><%= link_to season.title, season_path(season.id) %></h4>
      <div class="stars">
        <% (1..season.stars).each do |i| %>
            <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        <% (1..(5 - season.stars) ).each do |i| %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <span><%= season.genre %></span>
    </div>
  </div>
</div>