<div class="container">
	<div class="row">
		<div class="serie-detail">
			<div class="col-md-12">
				<h1 class="page-header"><%= @chapter.title %></h1>
			</div>
			<div class="col-sm-3">
				<img class="img-responsive" src="/uploads/<%= @chapter.poster %>" alt="">
				<div class="stars">
					<% (1..@chapter.stars).each do |i| %>
						<i class="fa fa-star" aria-hidden="true"></i>
					<% end %>
					<% (1..(5 - @chapter.stars) ).each do |i| %>
						<i class="fa fa-star-o" aria-hidden="true"></i>
					<% end %>
				</div>
			</div>
			<div class="col-sm-8">
				<ul>
					<li>
						<strong>Titulo:</strong> <%= @chapter.title %>
					</li>
          <li>
            <strong>Capítulo:</strong> <%= @chapter.chapterNumber %>
          </li>
					<li>
						<strong>Sinopsis:</strong> <%= @chapter.synopsis %>
					</li>
					<li>
						<strong>Precio:</strong> <%= @chapter.price %>
					</li>
					<li>
						<a class="btn btn-default" href="<%= chapter_play_path(@chapter.id) %>" role="button">Ver Capítulo</a>
            <%= form_tag(chapter_pay_path, method: "post", class: "navbar-form navbar-right") do %>
                <input type="hidden" name="qpoints" value=<%= @chapter.price %>>
                <button type="submit" id="buy-button" class="btn btn-primary">
                  Pagar Capítulo: <%= @chapter.price %> QP
                </button>
            <% end %>
					</li>
          <li>
            <a class="btn btn-default" href="<%= chapter_trailer_path(@chapter.id) %>" role="button">Ver Trailer</a>
          </li>
				</ul>
			</div>
		</div>
	</div>
</div>