<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Series Disponibles</h1>
		</div>

		<% @series.each do |serie| %>
        <%= render partial: "serie", object: serie %>
		<% end %>

	</div>
</div>

